@import '../../assets/style/constant.scss';

.info {
	width: 80%;
	margin: auto;
	border-radius: 8px;
	border: 1px solid #fff;
	margin-top: 10px;
	padding: 1em;
	display: flex;
	align-items: center;
	max-width: 400px;
	justify-content: center;

	& .infoIcon {
		font-size: 1.4em;
		margin: 0 5px;
	}

	& span {
		font-size: 0.8em;
		margin-left: 10px;

		& a {
			text-decoration: underline;
		}
	}
}

.container-min {
	margin-bottom: 100px !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1em;
	align-items: center;
	width: 80%;
	max-width: 400px;
	border-radius: 8px;
	border: 1px solid $secondary;

	& .beneficiaries {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
		margin: 10px;

		& .beneficiariesHead {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			& .addIcon {
				font-size: 1.6em;
			}
		}

		& .benificiarieList {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			overflow: scroll;
			white-space: nowrap;
			padding: 10px 0;

			& .benificiarieItem {
				min-width: 140px;
				display: flex;
				align-items: flex-start;
				justify-content: space-around;
				flex-direction: column;
				width: 100%;
				white-space: nowrap;
				border-radius: 8px;
				overflow: hidden;
				border: 1px solid #fff;
				margin-right: 8px;
				transition: all 0.2s ease-in;
				padding: 8px;
				cursor: pointer;
				position: relative;
				padding-bottom: 20px;

				& .subDetail {
					font-size: 0.8em;
				}

				& .vaccinatedUpdate {
					width: 100%;
					font-size: 0.7em;
					position: absolute;
					bottom: 0;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;
					text-align: center;

					& span {
						flex: 1;
						background-color: $secondary;
						color: $primary;
					}
				}

				.notvaccinatedUpdate {
					background-color: $primary;
					color: $secondary;
					width: 100%;
					font-size: 0.7em;
					position: absolute;
					bottom: 0;
					left: 0;
				}

				&:first-child {
					margin-left: 0%;
				}

				&:hover {
					background-color: rgba($color: $secondary, $alpha: 0.4);
				}

				& div {
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					&.left {
					}
					&.right {
					}
				}

				&.activeCell {
					background-color: $secondary;
					color: $primary;
				}
			}
		}
		& span {
		}
	}

	& .selectors {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 10px;
		width: 100%;

		& select {
			margin: 6px 0;
			flex: 1;
			width: 100%;
			background-color: rgba($color: $secondary, $alpha: 0.4);
			padding: 10px;
			border-radius: 8px;
			color: $secondary;
			-webkit-appearance: none;
		}
	}

	& .dataTable {
		width: 100%;
		position: relative;
		margin-top: 20px;
		overflow-y: scroll;

		& table {
			width: 100%;
			position: relative;
			border-collapse: separate;
			border-width: 1.5px;
			& th {
				margin: 0;
				white-space: nowrap;
				padding: 4px;
				background: rgba($color: $secondary, $alpha: 1);
				color: $primary;
				position: sticky;
				top: 0; /* Don't forget this, required for the stickiness */
				border-radius: 8px;
				font-size: 0.9em;
				z-index: 800;

				&.headcol {
					position: sticky;
					left: 0;
					z-index: 801;
				}
			}

			& td {
				margin: 0;
				white-space: nowrap;
				padding: 6px 4px;
				background: rgba($color: $secondary, $alpha: 0.2);
				border-radius: 8px;
				font-size: 0.8em;
				z-index: 700;

				&.headcol {
					padding-right: 8px;
					position: sticky;
					left: 0;
					background-color: darken($color: $grey, $amount: 10);
					color: $secondary;
					z-index: 800;
				}
			}

			& .center {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.container-min {
		& .beneficiaries {
			& .benificiarieList {
				& .benificiarieItem {
					&:first-child {
					}
				}
			}
		}
	}
}
