@import '../../assets/style/constant.scss';

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid $secondary;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: $primary;
	z-index: 830;

	& .top {
		font-size: 0.9em;
		flex: 1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		& a {
			margin: 8px;
			background-color: rgba($color: #fff, $alpha: 0.4);
			padding: 4px 12px;
			border-radius: 8px;
		}
	}

	& .bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		& span {
			color: rgba($color: #fff, $alpha: 0.7);
			font-size: 0.9em;
			margin-bottom: 4px;
		}
	}
}
