@import '../../assets/style/constant.scss';
nav {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	border-bottom: 1px solid $secondary;

	& a {
		margin: 0 10px;
		font-size: 1.4em;
	}

	& .button {
		margin: 0 10px;
		padding: 8px 16px;
		border-radius: 8px;
		border: 1px solid $secondary;
		transition: all 0.2s ease-in;
		background-color: rgba($color: $secondary, $alpha: 0.1);
		cursor: pointer;

		&:hover {
			background-color: rgba($color: $secondary, $alpha: 0.2);
		}
	}
}

.notification {
	background-color: $secondary;
	color: $primary;
	text-align: center;
	padding: 6px 0;

	& span {
		border: 1px solid $primary;
		border-radius: 8px;
		padding: 4px 8px;
		margin-left: 8px;
		cursor: pointer;
		transition: all 0.2s ease-in;
		background-color: rgba($color: $primary, $alpha: 1);
		color: $secondary;

		&:hover {
			background-color: rgba($color: $primary, $alpha: 0.4);
		}
	}

	& .sendOTP {
	}

	& .enteOTP {
		margin-top: 10px;
		& input[type='text'] {
			padding: 8px;
			background-color: rgba($color: $primary, $alpha: 0.4);
			color: $secondary;
			border: 0px solid #fff;
			border-radius: 8px;
		}
	}
}
